# Database Configurations
ALLOW_ORIGINS=*
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:${DB_PORT}/auth_db
DB_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@localhost:${DB_PORT}/auth_db
POSTGRES_USER=rayco
POSTGRES_PASSWORD=fXg6jwUyZOt
POSTGRES_DB=cartord
REDIS_HOST=redis
REDIS_PORT=6379

# Secrets for symmetric signing (HS256)
JWT_PRIVATE_KEY=

# Token TTLs definition
ACCESS_TOKEN_EXPIRE_MINUTES=200
REFRESH_TOKEN_EXPIRE_DAYS=7

# Admin Credentials
ADMIN_COUNT=3
ADMIN_NAME=rayco
ADMIN_PASSWORD=8js&65bs*6B6%
ADMIN_EMAIL=rayco@example.com
ADMIN_USERNAME=rayco

# Elastic Search Credentials
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

# Kafka Credentials
KAFKA_CLIENT_ID=1
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://kafka:29092,CONTROLLER://kafka:9093,PLAINTEXT_HOST://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
CLUSTER_ID=5L6g3nShT-eMCtK--X86sw

SERVICE_SHARED_KEY=

# Grafana Credentials
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Service Database URLs
AUTH_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/auth_db
INVENTORY_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/inventory_db
ORDER_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/order_db
PAYMENT_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/payment_db
NOTIFICATION_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/notification_db
SEARCH_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/search_db
AI_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/ai_db

PAYMENT_BASE_URL=http://payment_service:9005/api/v1

# OpenTelemetry Exporter Endpoint (4317 - gRPC, 4318 - Http)
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

# Notification Service credentials
EMAIL_PROVIDER=smtp
RESEND_API_KEY=...
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=...@gmail.com
SMTP_PASSWORD=...
SMTP_USE_TLS=true
MAILPIT_HOST=mailpit
MAILPIT_PORT=1025
EMAIL_FROM=...@gmail.com


# AI Credentials
LLM_API_KEY="gsk_xxxx"
TEMPERATURE=0.1
LOCAL_EMBEDDING_MODEL="Qwen/Qwen3-Embedding-0.6B"
USE_LOCAL_EMBEDDING_MODEL=False
GEMINI_API_KEY="AQ.xxxx"
GEMINI_EMBEDDING_MODEL="gemini-embedding-001"

# Sentry DSN for error tracking
# SENTRY_DSN=https://your-sentry-dsn
SECRET_KEY=
ENABLE_USER_REGISTRATION=False
ENABLE_SOCIAL_APPS_USER_REGISTRATION=False
GLITCHTIP_AI_DSN=http://75756339acf845a4810844f5177da1ff@glitchtip-web:8000/6
GLITCHTIP_AUTH_DSN=http://02a3f125077e44d4b288829c8a7618d2@glitchtip-web:8000/1
GLITCHTIP_INVENTORY_DSN=http://36f1a98da119419db598bc4b5f25da65@glitchtip-web:8000/2
GLITCHTIP_SEARCH_DSN=http://f4fc67c9750443ceb3719bbd5d26a354@glitchtip-web:8000/3
GLITCHTIP_NOTIFICATION_DSN=http://678bb3f9dc2f49d39327fb24b8a20deb@glitchtip-web:8000/5
GLITCHTIP_ORDER_DSN=http://98335fb36f374affb4921f18697fed33@glitchtip-web:8000/7
GLITCHTIP_PAYMENT_DSN=http://42322227a0c44afa81be690a00f7bd95@glitchtip-web:8000/9
OTEL_RESOURCE_ATTRIBUTES=service.namespace=cartord,deployment.environment.name=development
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0
OTEL_PROPAGATORS=tracecontext,baggage

DEBEZIUM_URL=http://debezium:8083