
ALLOW_ORIGINS=*
SENTRY_DSN=https://your-sentry-dsn
AUTH_DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/auth_db
REDIS_HOST=redis
REDIS_PORT=6379
JWT_PRIVATE_KEY=your_jwt_private_key
ACCESS_TOKEN_EXPIRE_MINUTES=200
REFRESH_TOKEN_EXPIRE_DAYS=7
ADMIN_COUNT=1
ADMIN_NAME=admin
ADMIN_PASSWORD=your_admin_password
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
CIRCUIT_BREAKER_TIMEOUT_DURATION=30
CIRCUIT_BREAKER_FAIL_MAX=5
PAYMENT_BASE_URL=http://payment_service:9005/api/v1
SERVICE_SHARED_KEY=your_service_shared_key
