
ALLOW_ORIGINS=*
SENTRY_DSN=https://your-sentry-dsn
ORDER_DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/order_db
KAFKA_CLIENT_ID=order_service
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
AUTH_BASE_URL=http://auth_service:9001
INVENTORY_BASE_URL=http://inventory_service:9002/api/v1
JWT_PRIVATE_KEY=your_jwt_private_key
SERVICE_SHARED_KEY=your_service_shared_key
REDIS_HOST=redis
REDIS_PORT=6379
CIRCUIT_BREAKER_TIMEOUT_DURATION=30
CIRCUIT_BREAKER_FAIL_MAX=5
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
