
SENTRY_DSN=https://your-sentry-dsn
PAYMENT_DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/payment_db
SERVICE_SHARED_KEY=your_service_shared_key
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
JWT_PRIVATE_KEY=your_jwt_private_key
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
AUTH_BASE_URL=http://auth_service:9001/api/v1
CIRCUIT_BREAKER_TIMEOUT_DURATION=30
CIRCUIT_BREAKER_FAIL_MAX=5
