DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/auth_db
DB_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@localhost:5432/auth_db
POSTGRES_USER=rayco
POSTGRES_PASSWORD=fXg6jwUyZOt
POSTGRES_DB=cartord
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=OmQhlScwr8PzsdL/3iuXsBjyNDeTSQQdnYmw7xY+KMo=

ADMIN_COUNT=3

ADMIN_NAME=rayco
ADMIN_PASSWORD=8js&65bs*6B6%
ADMIN_EMAIL=rayco@example.com
ADMIN_USERNAME=rayco

KAFKA_CLIENT_ID=1
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
ACCESS_TOKEN_EXPIRE_MINUTES=20
REFRESH_TOKEN_EXPIRE_DAYS=7

KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://kafka:29092,CONTROLLER://kafka:9093,PLAINTEXT_HOST://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
CLUSTER_ID=5L6g3nShT-eMCtK--X86sw

SERVICE_SHARED_KEY=CMSPS_8Msh25MntzDAnPdRx6adjgggVRLxfiUpnsai-gNiM1YEfN_ys-mUn3zxjkWcEYvpNRztyfMzxrq4b07g

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

AUTH_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/auth_db
INVENTORY_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/inventory_db
ORDER_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/order_db
PAYMENT_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/payment_db
NOTIFICATION_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/notification_db
SEARCH_DATABASE_URL=postgresql+asyncpg://rayco:fXg6jwUyZOt@postgres:5432/search_db