aiobreaker
aiohttp
alembic==1.13.2
asyncpg==0.29.0
confluent-kafka==2.5.3
elasticsearch==8.12.0
fastapi==0.115.0
httpx==0.27.2
opentelemetry-api==1.27.0
opentelemetry-instrumentation-confluent-kafka
opentelemetry-instrumentation-elasticsearch
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-httpx==0.48b0
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk==1.27.0
passlib[bcrypt]==1.7.4
pybreaker==1.2.0
pydantic==2.9.2
pydantic-settings==2.5.2
pyfiglet
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
redis==5.0.8
sendgrid==6.11.0
sentry-sdk[fastapi]==2.14.0
sqlalchemy==2.0.35
tenacity==9.0.0
uuid6
uvicorn[standard]==0.30.6
pgvector