
ALLOW_ORIGINS=*
SENTRY_DSN=https://your-sentry-dsn
LLM_API_KEY=
TEMPERATURE=0.1
REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
JWT_PRIVATE_KEY=your_jwt_private_key
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
AI_DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/ai_db
LOCAL_EMBEDDING_MODEL=Qwen/Qwen3-Embedding-0.6B
USE_LOCAL_EMBEDDING_MODEL=true
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
CHUNK_OVERLAP=50
CHUNK_SIZE=500
AUTH_BASE_URL=http://auth_service:9001
ORDER_BASE_URL=http://order_service:9004
INVENTORY_BASE_URL=http://inventory_service:9002
