--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
prometheus-fastapi-instrumentator==7.1.0
sqlalchemy==2.0.35
asyncpg==0.29.0
psycopg[binary]>=3.1
alembic==1.13.2
confluent-kafka==2.5.3
pyfiglet
sentry-sdk[fastapi]==2.14.0
aiobreaker
uuid6
redis==5.0.8
aiohttp

opentelemetry-api==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-proto==1.44.0
opentelemetry-semantic-conventions==0.65b0
opentelemetry-instrumentation==0.65b0
opentelemetry-instrumentation-fastapi==0.65b0
opentelemetry-instrumentation-asgi==0.65b0
opentelemetry-instrumentation-confluent-kafka==0.65b0
opentelemetry-instrumentation-redis==0.65b0
opentelemetry-instrumentation-aiohttp-client==0.65b0
opentelemetry-instrumentation-sqlalchemy==0.65b0
opentelemetry-exporter-otlp-proto-grpc==1.44.0

python-jose[cryptography]==3.3.0

## AI libraries
psycopg[binary,pool]
langgraph-checkpoint-postgres
sentence-transformers
langchain-text-splitters
langchain
langgraph
pgvector
python-multipart
langchain-groq
google-genai

pypdf
python-docx