
SENTRY_DSN=https://your-sentry-dsn
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
JWT_PRIVATE_KEY=your_jwt_private_key
KAFKA_CLIENT_ID=search_service
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
AUTH_BASE_URL=http://auth_service:9001
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
